//  Foundation for Sites Settings
//  -----------------------------

@import 'vendor/foundation/util/util';

$global-width: rem-calc(940);
$topbar-background: #333;
$topbar-padding: 0;
$dropdownmenu-arrow-color: darkgray;
$accordionmenu-arrow-color: darkgray;
$pagination-font-size: 1.1em;
$pagination-mobile-items: true;
$pagination-item-background-current: #2b2929;
