.add-options-button {
  margin-left: -30px;
  @include breakpoint(medium) {
    margin-left: 20px;
  }
  background-color: #2199e8;
  font-size: 3em;
  font-weight: bold;
  width: 60px;
  height: 60px;
  color: #f0f0f0;
  border-radius: 30px;
  -webkit-box-shadow: 8px 10px 14px 2px rgba(0,0,0,0.69);
  -moz-box-shadow: 8px 10px 14px 2px rgba(0,0,0,0.69);
  box-shadow: 8px 10px 14px 2px rgba(0,0,0,0.69);
  &:hover{
    background: #1583cc;
  }
  &:focus {
    outline: none;
  }
}

input[type=text].poll-create-option-text {
  margin-top: 15px;
}

input[type=text].poll-create-title {
  font-size: 1.3em;
  padding: 10px;
  margin: 20px 0;
}

input[type=text].poll-create-title, input[type=text].poll-create-option-text {
  &:focus {
    outline: 1px solid #2199e8;
  }
}

.create-poll-button.green-button {
  margin: 30px auto;
  padding: 15px;
  font-size: 1.2em;
  width: 50%;
  display: block;
}
