.single-poll-select {
  margin-left: 10px;
  width: 60%;
}

.single-poll-vote.button {
  margin: 0 0 0 10px;
}

.single-poll-title {
  margin: 0 0 10px 20px;
  font-size: 1.5em;
}

input[type=text].additional-option-text {
  @include breakpoint(medium) {
    margin-left: 10px;
  }
}

.delete-poll-warning-text {
  margin-left: 10px;
  font-size: 0.9em;
  color: darkgray;
}

.poll-modify-button {
  width: 120px;
}